@{
    Layout = null;
}


@*实现对EasyUI的DataGird控件操作的JS代码*@
<script type="text/javascript">
    $(function () {
        //当页面首次刷新的时候执行的事件
        InitTableOrder();

        //绑定用户搜索按钮的点击事件
        BindSearchOrder();

        initOrderShopTable();

    });

    //实现对店铺DataGird控件的绑定操作
    function InitTableOrder(queryData) {
        $("#tb_@ViewBag.Key").datagrid({
            //定位到Table标签，Table标签的ID是test
            //   UserInfo是控制器，GetAllUserInfos是控制器中获取用户数据的一个Action
            url: '/@ViewBag.Controller/GetAll', //指向后台的Action来获取当前用户的信息的Json格式的数据
            title: '订单信息', //标识
            //下面的这些属性如果谁不太清楚的话我建议去官方网站去学习或者在群里我们讨论，这里就不说了
            //iconCls: 'icon-save',
            fit: true,
            border: false,
            autoRowHeight: false,
            pagination: true,
            striped: true,
            collapsible: false,
            rownumbers: true,
            //sortName: 'ID',    //根据某个字段给easyUI排序
            sortOrder: 'asc',
            remoteSort: false,
            queryParams: queryData,
            idField: 'ID',
            frozenColumns: [
                [
                    { field: 'ckShop', checkbox: true }, //选择
                    { title: '主键', field: 'ID', width: 40, hidden: true }, //主键
                    { title: '姓名', field: 'Name', width: 100, sortable: true }, //登录名
                    { title: '电话', field: 'Telephone', width: 100, sortable: true }, //用户名
                    { title: '条形码', field: 'BarCode', width: 60, sortable: true },
                    
                    { title: '照片', field: 'ImagePath', width: 100, sortable: true },
                   
                    { title: '二级订单', field: 'IsSecond', width: 60, sortable: true, formatter: formatEnable },
                    { title: '是否可用', field: 'Enable', width: 60, sortable: true, formatter: formatEnable },
                    { title: '备注', field: 'Remarks', width: 190, sortable: true }
                ]
            ],
            toolbar: [
                 {
  
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $("#tb_@ViewBag.Key").datagrid("reload");
                    }
                }
            ]
        });
    }



    //绑定搜索按钮的的点击事件
    function BindSearchOrder() {
        //按条件进行查询数据，首先我们得到数据的值
        $("#btnSearch_@ViewBag.Key").click(function () {
            //得到用户输入的参数
            SearchCourierInfo();
        });
    }

    function SearchCourierInfo() {
        var queryData = {
            ShopID: $("#hCouierShopID").val(),
            Name: $("#txtCourierName").val(),
            BarCode: $("#txtCourierBarCode").val()
        }
        //将值传递给
        InitTableOrder(queryData);
        return false;
    }

    function initOrderShopTable() {
        $('#tbshop_@ViewBag.Key').datagrid({
            //定位到Table标签，Table标签的ID是test
            //   UserInfo是控制器，GetAllUserInfos是控制器中获取用户数据的一个Action
            url: '/Shop/GetShopList',
            
            autoRowHeight: false,
            singleSelect: true,
            fitColumns: true,
            striped: true,
            rownumbers: true,
            sortName: 'Name', //根据某个字段给easyUI排序
            sortOrder: 'asc',
            remoteSort: false,
            idField: 'Id',
            frozenColumns: [
                [
                    { title: '主键', field: 'Id', width: 40, hidden: true }, //主键
                    { title: '店铺名称', field: 'Name', width: 190, sortable: true } //登录名
                ]
            ],
            onLoadSuccess: function (data) {
                $('#tbshop_@ViewBag.Key').datagrid("selectRow", 0);
            },
            onSelect: function (index, row) {

                $('#hCouierShopID').val(row.Id);
                $('#hCouierShopID2').val(row.Id);

                SearchCourierInfo();
            }
        });
    }

</script>

<!-----------------------EasyUI的DataGird控件的放置----------------------->

<div class="easyui-layout" data-options="fit:true,collapsible:false,border:false">
    <div data-options="region:'west',split:true" title="店铺" style="width: 200px; overflow: hidden;">
        <table id="tbshop_@ViewBag.Key"></table>
    </div>

    <div data-options="region:'center',fit:true,border:false" >
        <!-------------------------------搜索框----------------------------------->
        <div class="easyui-layout" data-options="fit:true,collapsible:false,border:false">
            <div data-options="region:'north',collapsible:false,border:false" style="padding-left: 10px;">

                <label for="txtCourierName">姓名：</label>
                <input type="text" id="txtCourierName" />

                <label for="txtCourierBarCode">二维码：</label>
                <input type="text" id="txtCourierBarCode" />

                <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSearch_@ViewBag.Key">模糊搜索</a>

            </div>
            <div data-options="region:'center',fit:true,border:false" style="padding:0px 1px 28px;">
                <table id="tb_@ViewBag.Key"></table>
            </div>

        </div>

    </div>

</div>


