@model IList<WaiMai.UI.Models.MenuGroupDto>

@{
    Layout = null;
    
}
    @foreach (var mg in @Model)
    {
        <div title="@mg.Text" iconcls="icon-edit" style="padding: 10px; overflow: auto;">
            @foreach (var m in mg.MenuDtos)
            {
                <p><a href="javascript:void(0)" src="@m.Url" class="MenuLink">@m.Text</a></p>
            }
        </div>
    }
           
